/.DS_Store
/2_QUBITS AND QUANTUM STATES.pptx
/3_Quantum Gates and Circuits.pptx
/4_Quantum Teleportation_Rev.pptx
/5_Superdense Coding.pptx
/Aljabar Linier Materials_QC.pdf
/Bernhardt, Chris - Quantum computing for everyone-The MIT Press (2019).pdf
/Journals
/QUBITS AND QUANTUM STATES.pptx
/Quantum Gates and Circuits.pptx
/Solusi Latihan Soal Aljabar Linear.pdf
/Tugas 1.docx
/Tugas 2.docx
/Tugas_Representasi_Qubit_&_Quantum_Circuit.docx